/* #main {
  background: linear-gradient(
    146deg,
    rgba(242, 135, 5, 1) 0%,
    rgba(130, 190, 129, 1) 53%,
    rgba(22, 89, 77, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.proj {
  padding: 1rem;
  position: relative;
  background: linear-gradient(
    146deg,
    rgba(242, 135, 5, 1) 0%,
    rgba(130, 190, 129, 1) 53%,
    rgba(22, 89, 77, 1) 100%
  );
  padding: 3px;
}

.project-links {
  text-align: center;
}
.project-links i {
  color: #16594d;
}

.proj-desc {
  text-align: left;
}

.project-links .icon:hover {
  color: #16594d;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
} */