/* .link {
  font-size: 18px;
  color: #592c1b;
  position: relative;
  border: none;
}

.link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    146deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(130, 190, 129, 1) 44%,
    rgba(253, 187, 45, 1) 100%
  );
  transition: all 0.4s ease-in-out;
}

.link:hover {
  color: #592c1b;
  text-decoration: none;
}

.link:hover:after {
  width: 100%;
}

.link-active:after {
  width: 100% */